<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hỏi Dân IT | Backend SoundCloud</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="alert alert-primary" role="alert">
                    <div>
                        <ul>
                            <li>
                                <h5>
                                    Khóa học: React Pro Max - Làm Chủ Toàn Diện React.JS Hiện Đại
                                </h5>
                                <span>
                                    Gánh Team React Client/Server với Vite và Framework Next.JS (Typescript)
                                </span>
                            </li>
                            <li class="mt-4">Tác giả: Hỏi Dân IT vs Eric</li>
                            <li class="mt-2">Website:
                                <a style="text-decoration: none;" target="_blank"
                                    href="https://hoidanit.com.vn/">hoidanit.com.vn
                                </a>
                            </li>
                            <li class="mt-2">Youtube:
                                <a style="text-decoration: none;" target="_blank"
                                    href="https://www.youtube.com/@hoidanit">Hỏi Dân IT
                                </a>
                            </li>
                            <li class="mt-2">Facebook:
                                <a style="text-decoration: none;" target="_blank"
                                    href="https://www.facebook.com/askITwithERIC">Fanpage
                                </a>
                            </li>
                            <li class="mt-2">Tiktok:
                                <a style="text-decoration: none;" target="_blank"
                                    href="https://www.tiktok.com/@hoidanit">Hỏi Dân IT
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>