<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hỏi Dân IT | Backend SoundCloud</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="alert alert-primary" role="alert">
            <div>
              <ul>
                <li>
                  <h5>
                    Khóa học: React Pro Max - Làm Chủ Toàn Diện React.JS Hiện
                    Đại
                  </h5>
                  <span>
                    Gánh Team React Client/Server với Vite và Framework Next.JS
                    (Typescript)
                  </span>
                </li>
                <li class="mt-4">Tác giả: Ngọc Trí IT</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
